In [1]:
import pandas as pd

In [2]:
df_HBM_patients        = pd.read_csv('../Hospital Beds Management/patients.csv', delimiter=',', low_memory=False)
df_HBM_staff           = pd.read_csv('../Hospital Beds Management/staff.csv', delimiter=',', low_memory=False)
df_HBM_staff_schedule  = pd.read_csv('../Hospital Beds Management/staff_schedule.csv', delimiter=',', low_memory=False)
df_HBM_services_weekly = pd.read_csv('../Hospital Beds Management/services_weekly.csv', delimiter=',', low_memory=False)

In [6]:
def read_position(df, row, col):
    return df.iat[row, col]

In [9]:
def summarize_attribute_distribution(df):
    """
    Prints the distribution of each attribute in the DataFrame.
    For numerical attributes: prints basic statistics.
    For categorical attributes: prints value counts.
    """
    for column in df.columns:
        print(f"\n=== Attribute: {column} ===")

        # Numeric distribution
        if df[column].dtype in ['int64', 'float64']:
            print("Numeric distribution:")
            print(df[column].describe())

        # Categorical / text distribution
        else:
            print("Value frequencies:")
            print(df[column].value_counts())

In [25]:
def summarize_attribute_distribution(df):
    """
    Prints the describe() table for the whole DataFrame.
    Then prints value counts ONLY for columns where count != unique.
    """
    # Always show the describe() table first
    print(" Describe() summary for all attributes ")
    display(df.describe(include='all'))
    
    # Then additionally show value counts for relevant columns
    for column in df.columns:
        desc = df[column].describe()

        # Only print value counts when values repeat
        if 'unique' in desc and desc['count'] != desc['unique']:
            print(f"\n Value counts for: {column}")
            print(df[column].value_counts())

In [7]:
x = read_position(df_HBM_patients, 10, 3)
print(f"Value at row 10, column 3 in patients DataFrame: {x}")

Value at row 10, column 3 in patients DataFrame: 2025-01-19

In [50]:
y = summarize_attribute_distribution(df_HBM_services_weekly)

 Describe() summary for all attributes

,week,month,service,available_beds,patients_request,patients_admitted,patients_refused,patient_satisfaction,staff_morale,event
count,208.000000,208.000000,208,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208
unique,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,4
top,NaN,NaN,emergency,NaN,NaN,NaN,NaN,NaN,NaN,none
freq,NaN,NaN,52,NaN,NaN,NaN,NaN,NaN,NaN,164
mean,26.500000,6.923077,NaN,30.346154,64.870192,28.129808,36.740385,80.000000,72.567308,NaN
std,15.044539,3.634755,NaN,15.172929,58.738572,14.676791,55.015763,11.125546,15.457759,NaN
min,1.000000,1.000000,NaN,8.000000,5.000000,5.000000,0.000000,60.000000,31.000000,NaN
25%,13.750000,4.000000,NaN,18.000000,23.750000,16.000000,0.000000,70.000000,60.000000,NaN
50%,26.500000,7.000000,NaN,27.500000,49.000000,26.000000,13.500000,81.000000,73.000000,NaN
75%,39.250000,10.000000,NaN,40.000000,86.000000,37.000000,52.500000,89.000000,86.000000,NaN
max,52.000000,12.000000,NaN,74.000000,388.000000,74.000000,363.000000,99.000000,99.000000,NaN

 Value counts for: service
emergency           52
surgery             52
general_medicine    52
ICU                 52
Name: service, dtype: int64

 Value counts for: event
none        164
flu          19
donation     14
strike       11
Name: event, dtype: int64

In [45]:
def summarize_missing_data(df):
    """
   
    - Attributes (columns) that contain missing values
    - Entries (rows) that contain missing values
    """

    # Missing values per attribute
    missing_per_attribute = df.isnull().sum()
    missing_per_attribute = missing_per_attribute[missing_per_attribute > 0]
    missing_per_attribute = missing_per_attribute.to_frame(name="missing_count")
    missing_per_attribute.index.name = "attribute"

    # Missing values per entry (row)
    missing_per_entry = df.isnull().sum(axis=1)
    missing_per_entry = missing_per_entry[missing_per_entry > 0]
    missing_per_entry = missing_per_entry.to_frame(name="missing_count")
    missing_per_entry.index.name = "row"

    return missing_per_attribute, missing_per_entry

Empty DataFrame
Columns: [patient_id, name, age, arrival_date, departure_date, service, satisfaction]
Index: []

In [46]:
attr_missing, row_missing = summarize_missing_data(df_HBM_services_weekly)

display(attr_missing)
display(row_missing)

Empty DataFrame
Columns: [missing_count]
Index: []

Empty DataFrame
Columns: [missing_count]
Index: []